<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @shift.start_time %>
</p>

<p>
  <strong>Note:</strong>
  <%= @shift.note %>
</p>

<p>
  <strong>User:</strong>
  <%= @shift.user_id %>
</p>

<%= link_to 'Edit', edit_shift_path(@shift) %> |
<%= link_to 'Back', shifts_path %>
