<!DOCTYPE html>
<html>
  <head>
    <title>GTHC - Game Tenting Help Center</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <%= javascript_pack_tag 'kville' %> -->
    <%= stylesheet_pack_tag  'kville' %>
  </head>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <body>
    <%= yield %>
  </body>
</html>
